{% extends "base.html" %}
{% block content %}
<div class="viral-news-breadcumb-area section-padding-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-4">
                <h3>Contact</h3>
            </div>
            <div class="col-2 col-md-2">
                <a href="https://github.com/123Lex123"><img src="{{ url_for('static', filename='img/bg-img/78158427.png') }}" alt=""></a>
            </div>
             <div style="margin-left:100px;" class="col-2 col-md-2">
                <a href="https://github.com/DanMorze"><img src="{{ url_for('static', filename='img/bg-img/78220396.png') }}" alt=""></a>
            </div>
        </div>
    </div>
</div>

<div class="contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div style="margin-left:150px;">
                    <!-- Contact Info -->
                    <div style="margin-left:150px;" class="contact-title">
                        <h3>Contact Info</h3>
                    </div>

                    <div style="margin:50px;" class="contact-info-details d-flex mb-100">
                        <!-- Single Contact Information -->
                        <div class="single-contact">
                            <div class="single-contact-information">
                                <h5>Address:</h5>
                                <p>Где-то в одном провинциальном городке на улице Микрорайон 53</p>
                            </div>
                        </div>

                        <!-- Single Contact Information -->
                        <div class="single-contact">
                            <div class="single-contact-information">
                                <h5>Phone:</h5>
                                <p>+7(958)861-77-44</p>
                            </div>
                        </div>

                        <!-- Single Contact Information -->
                        <div class="single-contact">
                            <div class="single-contact-information">
                                <h5>Vk:</h5>
                                <p>https://vk.com/ploxoj123 <br> https://vk.com/llnapozitive </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}