{% extends "base.html" %}
{% block content %}
    <!-- ##### Blog Post Area Start ##### -->
    <div class="viral-story-blog-post section-padding-0-50">
        <div class="container">
            <div class="row">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-8">
                    <div class="row">
                        {% for item in news[-6:] %}

                        <!-- Single Blog Post -->
                        <div class="col-12 col-lg-6">
                            <div class="single-blog-post style-3">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <a href="/post/{{ item[0].id }}"><img src="{{ url_for('static', filename='img/bg-img/7.jpg') }}" alt=""></a>
                                </div>
                                <!-- Post Data -->
                                <div class="post-data">
                                    {% if item[0].category_id > 8 %}
                                        <a href="#" class="post-catagory">{{ all_category[0].name }}</a>
                                    {% else %}
                                        <a href="#" class="post-catagory">{{ all_category[item[0].category_id - 1].name }}</a>
                                    {% endif %}
                                    <a href="/post/{{ item[0].id }}" class="post-title">
                                        <h6>{{ item[0].title }}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">Автор: {{ item[0].user.name }} </p>
                                        <p class="post-date">{{ item[1] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}



                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="viral-news-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Предыдущая</a></li>
                                        <li class="page-item"><a class="page-link" href="#">01</a></li>
                                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                                        <li class="page-item"><a class="page-link" href="#">04</a></li>
                                        <li class="page-item"><a class="page-link" href="#">05</a></li>
                                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">15</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Следующая</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Area -->
                <div class="col-12 col-lg-4">
                    <div class="sidebar-area">


                        <!-- Trending Articles Widget -->
                        <div class="treading-articles-widget mb-70">
                            <h4>Последние новости</h4>
                            {% for item in news[-3:] %}
                            <!-- Single Trending Articles -->
                            <div class="single-blog-post style-4">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <a href="/post/{{ item[0].id }}"><img src="{{ url_for('static', filename='img/bg-img/15.jpg') }}" alt=""></a>
                                    <span class="serial-number">{{ loop.index }}.</span>
                                </div>
                                <!-- Post Data -->
                                <div class="post-data">
                                    <a href="/post/{{ item[0].id }}" class="post-title">
                                        <h6>{{ item[0].title }}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">От {{ item[0].user.name }} </p>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>

                        <!-- Add Widget -->
                        <div class="add-widget mb-70">
                            <a href="https://vk.com/club212918059"><img src="{{ url_for('static', filename='img/bg-img/add.png') }}" alt=""></a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Post Area End ##### -->

{% endblock %}
