{% extends "base.html" %}
{% block content %}
<body>
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post-details section-padding-0-50">
                            <div class="post-thumb">
                                <img src="{{ url_for('static', filename='img/bg-img/18.jpg') }}" alt="">
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory tag-4">{{ category.name }}</a>
                                <h2 class="post-title">{{ title }}</h2>
                                <div class="post-meta">

                                    <!-- Post Details Meta Data -->
                                    <div class="post-details-meta-data mb-50 d-flex align-items-center justify-content-between">
                                        <!-- Post Author & Date -->
                                        <div class="post-authors-date">
                                            <p class="post-author">Автор: {{ author }}</p>
                                            <p class="post-date">{{ created_date }}</p>
                                        </div>

                                    </div>
                                    <p>{{ text }}</p>
                                </div>
                            </div>
                        </div>

                        <!-- Related Articles Area -->
                        <div class="related-articles-">
                            <h4 class="mb-70">Случайные новости</h4>

                            <div class="row">
                                {% for item in rand_news %}

                                <!-- Single Post -->
                                <div class="col-12">
                                    <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                        <!-- Post Thumb -->
                                        <div class="post-thumb">
                                            <a href="/post/{{ item.id }}"><img src="{{ url_for('static', filename='img/bg-img/19.jpg') }}" alt=""></a>
                                        </div>
                                        <!-- Post Data -->
                                        <div class="post-data">
                                            <!-- <a href="#" class="post-catagory">Пока нет категорий</a> -->
                                            <a href="/post/{{ item.id }}" class="post-title">
                                                <h6>{{ item.title }}</h6>
                                            </a>
                                            <div class="post-meta">
                                                <p class="post-author">Автор: {{ item.user.name }}</p>
                                                <!-- <p class="post-date">{{ item.created_date }}</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="sidebar-area">

                         <!-- Trending Articles Widget -->
                        <div class="treading-articles-widget mb-70">
                            <h4>Последние новости</h4>
                            {% for item in news[-3:] %}
                            <!-- Single Trending Articles -->
                            <div class="single-blog-post style-4">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <a href="/post/{{ item.id }}"><img src="{{ url_for('static', filename='img/bg-img/15.jpg') }}" alt=""></a>
                                    <span class="serial-number">{{ loop.index }}.</span>
                                </div>
                                <!-- Post Data -->
                                <div class="post-data">
                                    <a href="/post/{{ item.id }}" class="post-title">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">От {{ item.user.name }} </p>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>

                        <!-- Add Widget -->
                        <div class="add-widget mb-70">
                            <a href="https://vk.com/club212918059"><img src="{{ url_for('static', filename='img/bg-img/add.png') }}" alt=""></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
{% endblock %}