{% extends "base.html" %}
{% block content %}
<body>
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post-details section-padding-0-50">
                            <div class="post-thumb">
                                <img src="{{ url_for('static', filename='img/bg-img/18.jpg') }}" alt="">
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory tag-4">Finance</a>
                                <h2 class="post-title">Заголовок</h2>
                                <div class="post-meta">

                                    <!-- Post Details Meta Data -->
                                    <div class="post-details-meta-data mb-50 d-flex align-items-center justify-content-between">
                                        <!-- Post Author & Date -->
                                        <div class="post-authors-date">
                                            <p class="post-author">Автор: <a href="#">Пользователь</a></p>
                                            <p class="post-date">02.02.2022</p>
                                        </div>

                                    </div>

                                    <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellentesque lectus et accumsan aliquam. Fusce lobortis cursus quam, id mattis sapien. Aliquam erat volutpat. Aliquam placerat, est quis sagittis tincidunt, ipsum eros posuere mi, ut finibus quam sem eget ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec commodo quis enim ac auctor. Ut et mollis felis, sit amet ultricies est. Suspendisse sed faucibus tortor.</p>

                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Quisque quam quam, porta in tellus sed, scelerisque volutpat purus. Fusce a dapibus diam, et porttitor lectus. Integer quis lectus scelerisque, tincidunt neque vel, viverra enim. Integer condimentum semper ornare. Duis eu dolor ac massa venenatis euismod semper vitae libero. Aenean nec fringilla sem. Pellentesque in tortor condimentum ante sagittis sodales quis sit amet lectus. Aenean dolor ante, pulvinar vitae egestas in, viverra eget diam. Fusce quis massa id magna viverra dictum. Vestibulum dolor risus, elementum non urna congue, varius placerat nibh. Cras bibendum ullamcorper dui lacinia pellentesque. Donec eget neque facilisis, consectetur urna vitae, rhoncus mi. Vestibulum fringilla efficitur sem, at dictum nisl rhoncus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                    <p>Mauris tristique est nec felis tristique fermentum. Curabitur ex tortor, malesuada sollicitudin lectus quis, luctus egestas lectus. Cras posuere accumsan felis a porta. Nulla cursus a ligula at commodo. Mauris dui magna, pellentesque vel metus iaculis, venenatis fringilla felis. Aenean in velit sit amet mauris ultrices aliquam.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Related Articles Area -->
                        <div class="related-articles-">
                            <h4 class="mb-70">Другие новости</h4>

                            <div class="row">
                                <!-- Single Post -->
                                <div class="col-12">
                                    <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                        <!-- Post Thumb -->
                                        <div class="post-thumb">
                                            <a href="#"><img src="{{ url_for('static', filename='img/bg-img/19.jpg') }}" alt=""></a>
                                        </div>
                                        <!-- Post Data -->
                                        <div class="post-data">
                                            <a href="#" class="post-catagory">Finance</a>
                                            <a href="#" class="post-title">
                                                <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                                            </a>
                                            <div class="post-meta">
                                                <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                                <p class="post-date">5 Hours Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">



                        <!-- Trending Articles Widget -->
                        <div class="treading-articles-widget mb-70">
                            <h4>Trending Articles</h4>

                            <!-- Single Trending Articles -->
                            <div class="single-blog-post style-4">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ url_for('static', filename='img/bg-img/15.jpg') }}" alt=""></a>
                                    <span class="serial-number">01.</span>
                                </div>
                                <!-- Post Data -->
                                <div class="post-data">
                                    <a href="#" class="post-title">
                                        <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Trending Articles -->
                            <div class="single-blog-post style-4">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ url_for('static', filename='img/bg-img/16.jpg') }}" alt=""></a>
                                    <span class="serial-number">02.</span>
                                </div>
                                <!-- Post Data -->
                                <div class="post-data">
                                    <a href="#" class="post-title">
                                        <h6>Artist Recreates People’s Childhood Memories With Realistic Dioramas</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Trending Articles -->
                            <div class="single-blog-post style-4">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ url_for('static', filename='img/bg-img/17.jpg') }}" alt=""></a>
                                    <span class="serial-number">03.</span>
                                </div>
                                <!-- Post Data -->
                                <div class="post-data">
                                    <a href="#" class="post-title">
                                        <h6>Artist Recreates People’s Childhood Memories With Realistic Dioramas</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Add Widget -->
                        <div class="add-widget mb-70">
                            <a href="#"><img src="{{ url_for('static', filename='img/bg-img/add.png') }}" alt=""></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
{% endblock %}
</html>